<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <!-- javascript 1.7 を使用するには宣言しなければいけないらしい。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/javascript;version=1.7"></script>
    <script src="http://fb.me/react-0.13.3.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.3.js"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <script src="./js/main.js"></script>
</head>
<body>


    <div>
        {{.site_title}}
        test
    </div>
    <div id="app"></div>
    <script type="text/jsx" src="/jsx/master.jsx"></script>
</body>
</html>