{{ define "root/index.tmpl" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <!-- javascript 1.7 を使用するには宣言しなければいけないらしい。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/javascript;version=1.7"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://fb.me/react-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="/js/main.js"></script>
</head>
<body>
    <h1>test</h1>
    <a href="/home/index.html">home</a>
    <div id="test"></div>
    <script type="text/jsx" src="/jsx/master.jsx"></script>
</body>
</html>
{{ end }}